In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import string
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [3]:
df = pd.read_csv('../data/data.tsv', sep='\t',error_bad_lines=False)

b'Skipping line 83032: expected 6 fields, saw 7\n'
b'Skipping line 154657: expected 6 fields, saw 7\n'
b'Skipping line 323916: expected 6 fields, saw 7\n'
/opt/conda/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,133273,213221,213222.0,How is the life of a math student? Could you d...,Which level of prepration is enough for the ex...,0.0
1,402555,536040,536041.0,How do I control my horny emotions?,How do you control your horniness?,1.0
2,360472,364011,490273.0,What causes stool color to change to yellow?,What can cause stool to come out as little balls?,0.0
3,150662,155721,7256.0,What can one do after MBBS?,What do i do after my MBBS ?,1.0
4,183004,279958,279959.0,Where can I find a power outlet for my laptop ...,"Would a second airport in Sydney, Australia be...",0.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363192 entries, 0 to 363191
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            363192 non-null  object
 1   qid1          363192 non-null  object
 2   qid2          363185 non-null  float64
 3   question1     363181 non-null  object
 4   question2     363180 non-null  object
 5   is_duplicate  363180 non-null  float64
dtypes: float64(2), object(4)
memory usage: 16.6+ MB

In [6]:
df = df.dropna(axis=0, subset=('question1','question2','is_duplicate' ))

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 363177 entries, 0 to 363191
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            363177 non-null  object
 1   qid1          363177 non-null  object
 2   qid2          363177 non-null  float64
 3   question1     363177 non-null  object
 4   question2     363177 non-null  object
 5   is_duplicate  363177 non-null  float64
dtypes: float64(2), object(4)
memory usage: 19.4+ MB

In [8]:
#lower casing
def lower_case(text):
    return text.lower()


#remove numbers
def remove_numbers(text):
    output = re.sub(r'\d+', '', text)
    return output

# remove punctuation
import string
def remove_punctuation(text):
    text_p = "".join([char for char in text if char not in string.punctuation])
    return text_p

#tokenize text

import nltk
nltk.download('punkt')
from nltk import word_tokenize

def tokenize(text):
    words = word_tokenize(text)
    return words

#remove stopwords
from nltk.corpus import stopwords
nltk.download('stopwords')
stop_words = stopwords.words('english')

def remove_stopwords(text):
    filtered_words = [word for word in text if word not in stop_words]
    return filtered_words

#stemming
from nltk.stem.porter import PorterStemmer

stemmer = PorterStemmer()

def stem_words(text):
    stemmed = [stemmer.stem(word) for word in text]
    return stemmed

[nltk_data] Downloading package punkt to /home/jovyan/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /home/jovyan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [9]:
class Preprocessor():
    def __init__(self):
        pass
    
    def preprocess(self,df_column, steps):
        self.df_column = df_column
        self.steps = steps
    
        if 'lower_case' in self.steps:
            self.df_column = self.df_column.apply(lambda x: lower_case(x))
        
        
        if 'remove_numbers' in self.steps:
            self.df_column = self.df_column.apply(lambda x: remove_numbers(x))
        
        if 'remove_punctuation' in self.steps:
            self.df_column = self.df_column.apply(lambda x: remove_punctuation(x))           
        
        if 'tokenize' in self.steps:
            self.df_column = self.df_column.apply(lambda x: tokenize(x))
        
        if 'stopwords' in self.steps:
            self.df_column = self.df_column.apply(lambda x: remove_stopwords(x))
        
        if 'stemming' in self.steps:
            self.df_column = self.df_column.apply(lambda x: stem_words(x))
            
        return self.df_column

In [10]:
steps = ['lower_case','remove_numbers','remove_punctuation',
        'tokenize','stopwords','stemming']
processor = Preprocessor()
df['question1'] = processor.preprocess(df['question1'] ,steps)

In [11]:
df['question2'] = processor.preprocess(df['question2'] ,steps)

In [12]:
df.reset_index(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363177 entries, 0 to 363176
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   index         363177 non-null  int64
 1   id            363177 non-null  object
 2   qid1          363177 non-null  object
 3   qid2          363177 non-null  float64
 4   question1     363177 non-null  object
 5   question2     363177 non-null  object
 6   is_duplicate  363177 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 19.4+ MB

In [13]:
df.head()

,index,id,qid1,qid2,question1,question2,is_duplicate
0,0,133273,213221,213222.0,"[life, math, student, could, describ, experi]","[level, preprat, enough, exam, jlpt]",0.0
1,1,402555,536040,536041.0,"[control, horni, emot]","[control, horni]",1.0
2,2,360472,364011,490273.0,"[caus, stool, color, chang, yellow]","[caus, stool, come, littl, ball]",0.0
3,3,150662,155721,7256.0,"[one, mbb]",[mbb],1.0
4,4,183004,279958,279959.0,"[find, power, outlet, laptop, melbourn, airport]","[would, second, airport, sydney, australia, ne...",0.0

In [14]:
q2vocab = df['question2'].tolist()
q2vocab = [item for sublist in q2vocab for item in sublist]
q2vocab = list(set(q2vocab))
len(q2vocab)

50127

In [26]:
#define function 
def get_Doc_ids(vocabulary_list,dataframe,tokens_col_name, id_col_name):
    Doc_ids = {}      #initialise empty document frequency dictionary
    
    #for each word in vocabulary, create key:value pair, with an empty list as value
    for word in vocabulary_list:
        Doc_ids[word] = [] 
        
    #for each word in DF, add the id of question2 where it appears. Create a set to avoid duplicate ids
    for i in range(len(dataframe)):
        for word in dataframe.loc[i,tokens_col_name]:
            Doc_ids[word].append(dataframe[id_col_name][i])
    for word in Doc_ids.keys():
        Doc_ids[word] = list(set(Doc_ids[word]))
        #DF[word]  =len(DF[word])
        
    return Doc_ids

Doc_ids = get_Doc_ids(q2vocab,df,'question2','qid2')
list(Doc_ids.items())[:5]

[('don´t',
  [213351.0, 149992.0, 219402.0, 282252.0, 232435.0, 189494.0, 403996.0]),
 ('lever',
  [428128.0,
   449762.0,
   531365.0,
   292328.0,
   378861.0,
   508814.0,
   62577.0,
   366833.0,
   321589.0,
   371415.0,
   211835.0]),
 ('autx',
  [203426.0, 19306.0, 40138.0, 465457.0, 263411.0, 384153.0, 264572.0]),
 ('polygamist', [203268.0, 483806.0]),
 ('histon', [110980.0, 148970.0, 329847.0, 15960.0, 279005.0])]

In [41]:
#dictionary - word: list of doc_ids
Word_Doc_ids = {}
for word in q2vocab:
    Word_Doc_ids[word] = []
for i in range(len(df)):
    for word in df.loc[i,'question2']:
        Word_Doc_ids[word].append(df.loc[i,'qid2'])

#create set to drop duplicate values of doc_ids
for word in q2vocab:
    Word_Doc_ids[word] = list(set(Word_Doc_ids[word]))
# for i in range(len(q2vocab)):
#     if q2vocab[i] in df.loc[i,'question2']:
#         Word_Doc_ids[q2vocab[i]].append(df.loc[i,'qid2'])
# for word in q2vocab:        
#     Word_Doc_ids[word] = list(set(Word_Doc_ids[word]))

In [42]:
list(Word_Doc_ids.items())[:2]

[('don´t',
  [213351.0, 149992.0, 219402.0, 282252.0, 232435.0, 189494.0, 403996.0]),
 ('lever',
  [428128.0,
   449762.0,
   531365.0,
   292328.0,
   378861.0,
   508814.0,
   62577.0,
   366833.0,
   321589.0,
   371415.0,
   211835.0])]

In [49]:
#create Document_frequency (IDF) dictionary
N = df['qid2'].nunique()
print(N)

IDF = {}
for word in Doc_ids.keys():
    IDF[word] = N/(len(Word_Doc_ids[word])+1)
list(IDF.items())[:5]

273121

[('don´t', 34140.125),
 ('lever', 22760.083333333332),
 ('autx', 34140.125),
 ('polygamist', 91040.33333333333),
 ('histon', 45520.166666666664)]

In [17]:
df['q2_len'] = df['question2'].apply(lambda x: len(x) )
df.head(2)

,index,id,qid1,qid2,question1,question2,is_duplicate,q2_len
0,0,133273,213221,213222.0,"[life, math, student, could, describ, experi]","[level, preprat, enough, exam, jlpt]",0.0,5
1,1,402555,536040,536041.0,"[control, horni, emot]","[control, horni]",1.0,2

In [24]:
#dictionary - doc_id: words
doc_words = dict(zip(df['qid2'],df['question2']))
# tf_lists = {}
# for word in q2vocab:
#     word_tf = []
#     for doc in Doc_ids[word]:
#         tf = doc_words[doc].count(word)/len(doc_words[doc])
#         word_tf.append(tf)
#     tf_lists[word] = word_tf 
    
# list(tf_lists.items())[:5] 
list(doc_words.items())[:2]

[(213222.0, ['level', 'preprat', 'enough', 'exam', 'jlpt']),
 (536041.0, ['control', 'horni'])]

In [56]:
# Create a dictionary where keys are words in the vocab, 
#values are dictinary of key:values as doc_id:tf for corresponding word
#nested dictionary - word: {{doc_id1: tf}, {doc_id2: tf}, ....}
inverted_tf = {}
for word in q2vocab:
    word_tf = {}
    for doc in Word_Doc_ids[word]:
        tf = doc_words[doc].count(word)/len(doc_words[doc])
        word_tf[doc] = tf
    inverted_tf[word] = word_tf

In [55]:
list(inverted_tf.items())[0]

('don´t',
 {213351.0: 0.09090909090909091,
  149992.0: 0.1,
  219402.0: 0.25,
  282252.0: 0.2,
  232435.0: 0.16666666666666666,
  189494.0: 0.1,
  403996.0: 0.08333333333333333})

In [20]:
# tfidf_first = []
# first = list(inverted_tf['header'].items()) 
# for tup in first:
#     tup = list(tup)
#     tfidf = tup[1]*np.log10(IDF['header'])
#     tup[1] = tfidf
#     tfidf_first.append(tup)
# tfidf_first

In [83]:
# Create a dictionary where keys are words in the vocab, 
#values are dictinary of key:values as doc_id:tfidf for corresponding word
#nested dictionary - word: {{doc_id1: tf}, {doc_id2: tf}, ....}
inverted_tfidf = {}
for word in q2vocab:
    doc_tfidfs = []
    for tup in list(inverted_tf[word].items()):
        tup = list(tup)
        tfidf = tup[1]*np.log10(IDF[word])
        tup[1] = tfidf
        doc_tfidfs.append(tup)
    inverted_tfidf[word] = doc_tfidfs  

# for i in range(len(inverted_tfidf)):
#     inverted_tfidf[q2vocab[i]] = [dict([[x[0],x[1]]])
#                                 for x in inverted_tfidf[q2vocab[i]]]

In [84]:
list(inverted_tfidf.items())[0]

('don´t',
 [[213351.0, 0.4121150097181024],
  [149992.0, 0.45332651068991264],
  [219402.0, 1.1333162767247815],
  [282252.0, 0.9066530213798253],
  [232435.0, 0.7555441844831876],
  [189494.0, 0.45332651068991264],
  [403996.0, 0.3777720922415938]])

In [85]:
for i in range(len(inverted_tfidf)):
    inverted_tfidf[q2vocab[i]] = {x[0]:x[1] for x in inverted_tfidf[q2vocab[i]]}

In [86]:
list(inverted_tfidf.items())[0]

('don´t',
 {213351.0: 0.4121150097181024,
  149992.0: 0.45332651068991264,
  219402.0: 1.1333162767247815,
  282252.0: 0.9066530213798253,
  232435.0: 0.7555441844831876,
  189494.0: 0.45332651068991264,
  403996.0: 0.3777720922415938})

In [126]:
queries = df[df['is_duplicate'] == 1][:100]
queries = queries[['question1','qid2','question2', 'is_duplicate']]
queries = queries.reset_index()
queries.head()

,index,question1,qid2,question2,is_duplicate
0,1,"[control, horni, emot]",536041.0,"[control, horni]",1.0
1,3,"[one, mbb]",7256.0,[mbb],1.0
2,7,"[best, self, help, book, read, chang, life]",787.0,"[top, self, help, book, read]",1.0
3,11,"[hillari, clinton, polici, toward, india, beco...",177376.0,"[hilari, clinton, polici, toward, india, becom...",1.0
4,13,"[best, book, studi, tensor, gener, rel, basic]",22333.0,"[best, book, tensor, calculu]",1.0

In [127]:
len(queries[:100])

100

In [128]:
from collections import Counter
def ranked_docs(query, inverted_file):
    counter_objects = []
    for word in query:
        counter_objects.append(Counter(inverted_file[word]))
        combined = sum(counter_objects,Counter())
        ranked_docs = sorted(combined, key = combined.get, reverse=True)
    return ranked_docs 
query = queries.loc[0,'question1']
ranked_docs(query,inverted_tfidf)

[355257.0,
 344642.0,
 536041.0,
 317944.0,
 348571.0,
 42047.0,
 132587.0,
 24179.0,
 59166.0,
 164015.0,
 231718.0,
 324584.0,
 298674.0,
 381123.0,
 8553.0,
 8554.0,
 15044.0,
 76887.0,
 5298.0,
 42275.0,
 24180.0,
 5791.0,
 71398.0,
 26547.0,
 4072.0,
 94220.0,
 268342.0,
 118928.0,
 118929.0,
 116931.0,
 479454.0,
 532816.0,
 139721.0,
 178783.0,
 179064.0,
 260988.0,
 510867.0,
 220085.0,
 320614.0,
 19607.0,
 437567.0,
 437568.0,
 339338.0,
 366214.0,
 108392.0,
 215383.0,
 16786.0,
 172437.0,
 133641.0,
 109187.0,
 58271.0,
 76916.0,
 27891.0,
 48501.0,
 138886.0,
 112916.0,
 184859.0,
 61092.0,
 61093.0,
 288549.0,
 340906.0,
 495684.0,
 433104.0,
 73188.0,
 174840.0,
 132477.0,
 407604.0,
 32868.0,
 276591.0,
 491646.0,
 456853.0,
 82166.0,
 129312.0,
 340264.0,
 469439.0,
 242115.0,
 506367.0,
 49725.0,
 102994.0,
 367189.0,
 424534.0,
 270966.0,
 82663.0,
 393969.0,
 37644.0,
 183061.0,
 258840.0,
 164663.0,
 111468.0,
 117618.0,
 537592.0,
 381970.0,
 121882.0,
 275534.0,
 195687.0,
 195688.0,
 392297.0,
 283808.0,
 5297.0,
 326836.0,
 1309.0,
 228723.0,
 60796.0,
 7624.0,
 232942.0,
 503292.0,
 237072.0,
 38542.0,
 81557.0,
 511647.0,
 200436.0,
 532221.0,
 114482.0,
 128847.0,
 24454.0,
 186307.0,
 5792.0,
 82644.0,
 16787.0,
 15045.0,
 17303.0,
 21970.0,
 26546.0,
 475651.0,
 518651.0,
 486331.0,
 431784.0,
 138885.0,
 59399.0,
 103459.0,
 454613.0,
 248167.0,
 94221.0,
 110612.0,
 462912.0,
 141404.0,
 278660.0,
 14523.0,
 22726.0,
 143600.0,
 297250.0,
 266532.0,
 76072.0,
 16726.0,
 137626.0,
 137627.0,
 389552.0,
 174515.0,
 168463.0,
 80451.0,
 80452.0,
 293454.0,
 139940.0,
 502437.0,
 226005.0,
 477935.0,
 351014.0,
 101206.0,
 480086.0,
 217970.0,
 388064.0,
 308202.0,
 224249.0,
 171015.0,
 410643.0,
 314405.0,
 3112.0,
 216130.0,
 216131.0,
 484418.0,
 314452.0,
 33917.0,
 7329.0,
 400565.0,
 128255.0,
 116041.0,
 480593.0,
 499043.0,
 392560.0,
 120203.0,
 120202.0,
 480686.0,
 351672.0,
 513467.0,
 327106.0,
 161343.0,
 314988.0,
 378480.0,
 341650.0,
 190160.0,
 202466.0,
 149357.0,
 440201.0,
 511951.0,
 526306.0,
 403430.0,
 187286.0,
 154593.0,
 352284.0,
 329803.0,
 501850.0,
 315483.0,
 43112.0,
 292969.0,
 43113.0,
 489650.0,
 121064.0,
 225537.0,
 102675.0,
 387411.0,
 31122.0,
 309664.0,
 76194.0,
 106918.0,
 504245.0,
 426469.0,
 258537.0,
 147951.0,
 199156.0,
 193012.0,
 193013.0,
 340476.0,
 432654.0,
 39452.0,
 182816.0,
 244270.0,
 166495.0,
 55915.0,
 72329.0,
 223885.0,
 17052.0,
 266954.0,
 211659.0,
 160545.0,
 398116.0,
 394036.0,
 164662.0,
 74561.0,
 449417.0,
 107456.0,
 422862.0,
 302054.0,
 498671.0,
 203861.0,
 291994.0,
 222374.0,
 81077.0,
 193722.0,
 11485.0,
 320743.0,
 376039.0,
 224505.0,
 437509.0,
 60684.0,
 1310.0,
 329027.0,
 136525.0,
 255378.0,
 234947.0,
 7623.0,
 337411.0,
 187908.0,
 491048.0,
 292405.0,
 175676.0,
 515699.0,
 210563.0,
 38545.0,
 278164.0,
 153268.0,
 405173.0,
 179897.0,
 83643.0,
 200435.0,
 18187.0,
 376633.0,
 145213.0,
 1855.0,
 14149.0,
 44873.0,
 128846.0,
 270187.0,
 481146.0,
 116607.0,
 423809.0,
 479113.0,
 468945.0,
 323485.0,
 265792.0,
 290818.0,
 321562.0,
 395317.0,
 499819.0,
 30841.0,
 424101.0,
 323760.0,
 387255.0,
 59690.0,
 481605.0,
 403849.0,
 63885.0,
 426388.0,
 512407.0,
 469462.0,
 19084.0,
 8874.0,
 484041.0,
 4812.0,
 84691.0,
 502505.0,
 244459.0,
 195330.0,
 351022.0,
 179065.0,
 439190.0,
 533430.0,
 41923.0,
 41922.0,
 293858.0,
 80864.0,
 13368.0,
 189517.0,
 320615.0,
 261268.0,
 281840.0,
 488715.0,
 81223.0,
 302505.0,
 208414.0,
 476807.0,
 249498.0,
 186116.0,
 483099.0,
 188228.0,
 255876.0,
 278425.0,
 341937.0,
 38834.0,
 522167.0,
 247783.0,
 172427.0,
 82982.0,
 245191.0,
 452453.0,
 349227.0,
 67590.0,
 403465.0,
 106538.0,
 403500.0,
 520241.0,
 26695.0,
 282700.0,
 229477.0,
 106600.0,
 284782.0,
 188538.0,
 129154.0,
 434345.0,
 397487.0,
 96457.0,
 340185.0,
 213233.0,
 237848.0,
 395568.0,
 295293.0,
 16780.0,
 90510.0,
 151952.0,
 31123.0,
 6568.0,
 383402.0,
 72106.0,
 465345.0,
 279005.0,
 309740.0,
 113138.0,
 227831.0,
 115204.0,
 170505.0,
 4627.0,
 152210.0,
 311956.0,
 189089.0,
 39599.0,
 426680.0,
 434903.0,
 129751.0,
 518880.0,
 82664.0,
 6892.0,
 168687.0,
 312050.0,
 45827.0,
 250636.0,
 367390.0,
 88895.0,
 516935.0,
 244555.0,
 303956.0,
 70504.0,
 414577.0,
 220028.0,
 275336.0,
 275356.0,
 336804.0,
 58277.0,
 492471.0,
 383938.0,
 265155.0,
 410579.0,
 44040.0,
 195609.0,
 158766.0,
 449583.0,
 304177.0,
 66619.0,
 451752.0,
 165073.0,
 435423.0,
 62698.0,
 337138.0,
 390399.0,
 359689.0,
 34083.0,
 40240.0,
 85353.0,
 99696.0,
 433525.0,
 181659.0,
 19869.0,
 50596.0,
 339380.0,
 497078.0,
 509413.0,
 396785.0,
 534011.0,
 501266.0,
 122423.0,
 40530.0,
 38501.0,
 503454.0,
 417453.0,
 493240.0,
 106184.0,
 425693.0,
 341736.0,
 71414.0,
 429819.0,
 427776.0,
 397062.0,
 495380.0,
 317232.0,
 30517.0,
 225114.0,
 352147.0,
 124828.0,
 267584.0,
 119221.0,
 456813.0,
 485532.0,
 479430.0,
 67815.0,
 432421.0,
 246132.0,
 127371.0,
 110991.0,
 170448.0,
 156146.0,
 336384.0,
 51795.0,
 162451.0,
 185048.0,
 11042.0,
 523054.0,
 228303.0,
 320570.0,
 525433.0,
 179334.0,
 40080.0,
 484498.0,
 21671.0,
 419009.0,
 97532.0,
 97533.0,
 103685.0,
 134406.0,
 263460.0,
 490796.0,
 316734.0,
 144716.0,
 513546.0,
 308867.0,
 368306.0,
 454326.0,
 16057.0,
 128831.0,
 276297.0,
 350110.0,
 354260.0,
 197492.0,
 167227.0,
 407597.0,
 526382.0,
 307251.0,
 241716.0,
 319573.0,
 39037.0,
 2206.0,
 422063.0,
 211140.0,
 96458.0,
 491729.0,
 284887.0,
 475363.0,
 145642.0,
 84240.0,
 67915.0,
 422231.0,
 311651.0,
 117135.0,
 14746.0,
 399784.0,
 414122.0,
 240047.0,
 494035.0,
 455154.0,
 340472.0,
 41475.0,
 4628.0,
 285219.0,
 498229.0,
 109109.0,
 381506.0,
 316010.0,
 182946.0,
 299700.0,
 80565.0,
 191164.0,
 23236.0,
 23237.0,
 471770.0,
 99040.0,
 525026.0,
 217831.0,
 90865.0,
 396030.0,
 33535.0,
 283405.0,
 330546.0,
 463683.0,
 375707.0,
 88989.0,
 422832.0,
 115677.0,
 291839.0,
 27659.0,
 513043.0,
 488469.0,
 183342.0,
 74810.0,
 203848.0,
 105575.0,
 271478.0,
 343163.0,
 339084.0,
 408722.0,
 388247.0,
 511133.0,
 335013.0,
 373944.0,
 421055.0,
 113878.0,
 138477.0,
 93470.0,
 537884.0,
 486691.0,
 11605.0,
 177516.0,
 312702.0,
 392588.0,
 21930.0,
 323038.0,
 128503.0,
 407038.0,
 480818.0,
 183861.0,
 482890.0,
 427599.0,
 190043.0,
 448093.0,
 190064.0,
 532130.0,
 95959.0,
 184040.0,
 509678.0,
 206573.0,
 155418.0,
 137000.0,
 483133.0,
 112463.0,
 466816.0,
 407436.0,
 71566.0,
 497592.0,
 59347.0,
 268248.0,
 4059.0,
 288734.0,
 12276.0,
 465062.0,
 188574.0,
 159948.0,
 364808.0,
 246093.0,
 156147.0,
 199254.0,
 62038.0,
 367195.0,
 182880.0,
 76958.0,
 107779.0,
 195939.0,
 501278.0,
 278084.0,
 120425.0,
 110230.0,
 511715.0,
 241510.0,
 51778.0,
 107953.0,
 348323.0,
 370039.0,
 214105.0,
 317491.0,
 477246.0,
 34891.0,
 350300.0,
 354416.0,
 401544.0,
 280716.0,
 430221.0,
 413839.0,
 295067.0,
 141487.0,
 155853.0,
 407804.0,
 295205.0,
 16684.0,
 219447.0,
 180565.0,
 397713.0,
 375251.0,
 420314.0,
 143839.0,
 227818.0,
 115202.0,
 354886.0,
 168535.0,
 168536.0,
 309852.0,
 150112.0,
 496226.0,
 451170.0,
 174689.0,
 17057.0,
 68291.0,
 463590.0,
 529134.0,
 486134.0,
 371477.0,
 230192.0,
 256849.0,
 398164.0,
 68498.0,
 226218.0,
 160701.0,
 66580.0,
 226379.0,
 126117.0,
 93387.0,
 216278.0,
 517360.0,
 158966.0,
 214291.0,
 70965.0,
 513334.0,
 111960.0,
 284042.0,
 11730.0,
 409063.0,
 370172.0,
 265746.0,
 120375.0,
 237124.0,
 362175.0,
 141004.0,
 284366.0,
 229094.0,
 454380.0,
 239341.0,
 22255.0,
 69361.0,
 524057.0,
 108338.0,
 1856.0,
 225110.0,
 509792.0,
 167778.0,
 204646.0,
 337786.0,
 368509.0,
 239510.0,
 497559.0,
 339893.0,
 444383.0,
 331749.0,
 313339.0,
 413722.0,
 477342.0,
 422316.0,
 4813.0,
 318200.0,
 424697.0,
 11086.0,
 426881.0,
 103403.0,
 496781.0,
 48286.0,
 206577.0,
 456553.0,
 266109.0,
 442288.0,
 464839.0,
 403404.0,
 11310.0,
 496114.0,
 350720.0,
 435310.0,
 263780.0,
 280359.0,
 258970.0,
 235544.0,
 264276.0,
 387172.0,
 75903.0,
 164019.0,
 172215.0,
 456898.0,
 241883.0,
 49427.0,
 129309.0,
 514352.0,
 381234.0,
 84353.0,
 420230.0,
 528828.0,
 233965.0,
 340477.0,
 375322.0,
 430662.0,
 281184.0,
 340586.0,
 205449.0,
 381697.0,
 312074.0,
 467768.0,
 142141.0,
 338770.0,
 371608.0,
 78752.0,
 537534.0,
 27618.0,
 60412.0,
 242702.0,
 224274.0,
 511011.0,
 379945.0,
 58410.0,
 44107.0,
 195704.0,
 472206.0,
 457902.0,
 535757.0,
 7375.0,
 267562.0,
 50503.0,
 167253.0,
 161130.0,
 136596.0,
 267669.0,
 185783.0,
 320988.0,
 56807.0,
 77296.0,
 284153.0,
 226840.0,
 28187.0,
 15902.0,
 36398.0,
 523824.0,
 192109.0,
 325307.0,
 44842.0,
 321325.0,
 327476.0,
 446260.0,
 214856.0,
 278362.0,
 204647.0,
 83848.0,
 298909.0,
 202659.0,
 290757.0,
 4060.0,
 446431.0,
 334055.0,
 352564.0,
 129334.0,
 452949.0,
 424341.0,
 457247.0,
 500541.0,
 339046.0,
 140422.0,
 228546.0,
 380155.0,
 195979.0,
 480754.0,
 384532.0,
 372296.0,
 126862.0,
 497635.0,
 352657.0,
 87857.0,
 526613.0,
 502303.0,
 232200.0,
 490500.0,
 447717.0,
 283877.0,
 310551.0,
 161178.0,
 312756.0,
 3535.0,
 20187.0,
 51134.0,
 444455.0,
 426037.0,
 6212.0,
 72.0,
 26733.0,
 104567.0,
 499831.0,
 141486.0,
 321732.0,
 518432.0,
 20812.0,
 20813.0,
 274798.0,
 209265.0,
 473558.0,
 191048.0,
 191049.0,
 111178.0,
 326317.0,
 494290.0,
 328441.0,
 289567.0,
 238489.0,
 463787.0,
 261041.0,
 218068.0,
 506870.0,
 132087.0,
 132086.0,
 424962.0,
 52245.0,
 130086.0,
 201781.0,
 205903.0,
 351320.0,
 185436.0,
 169061.0,
 257162.0,
 392457.0,
 324897.0,
 177477.0,
 167252.0,
 490840.0,
 66941.0,
 530017.0,
 507526.0,
 120461.0,
 120462.0,
 442023.0,
 9983.0,
 196357.0,
 136976.0,
 503572.0,
 266007.0,
 223014.0,
 386879.0,
 44967.0,
 231341.0,
 255923.0,
 327618.0,
 319427.0,
 106436.0,
 311267.0,
 269845.0,
 395316.0,
 196729.0,
 262279.0,
 276727.0,
 289138.0,
 448886.0,
 498280.0,
 230187.0,
 23467.0,
 279527.0,
 439618.0,
 241007.0,
 95603.0,
 497063.0,
 237004.0,
 458320.0,
 388783.0,
 292534.0,
 253742.0,
 88091.0,
 45172.0,
 69780.0,
 381078.0,
 280836.0,
 268681.0,
 293317.0,
 55768.0,
 162284.0,
 445119.0,
 332492.0,
 506632.0,
 242441.0,
 189277.0,
 189346.0,
 476099.0,
 482340.0,
 357564.0,
 175297.0,
 537886.0,
 114064.0,
 525715.0,
 183710.0,
 167327.0,
 245197.0,
 523769.0,
 155188.0,
 368392.0,
 38666.0,
 448345.0,
 352114.0,
 30580.0,
 104391.0,
 399675.0,
 446885.0,
 152171.0,
 152172.0,
 146233.0,
 220111.0,
 23517.0,
 236558.0,
 117838.0,
 445884.0,
 288237.0,
 280128.0,
 192156.0,
 300891.0,
 184173.0,
 79894.0,
 221408.0,
 313687.0,
 137703.0,
 293485.0,
 526966.0,
 465661.0,
 330551.0,
 469877.0,
 408546.0,
 336949.0,
 148585.0,
 171151.0,
 525500.0,
 175300.0,
 308601.0,
 232846.0,
 480661.0,
 179644.0,
 232900.0,
 333286.0,
 114278.0,
 366224.0,
 ...]

In [129]:
for i in range(len(queries)):
    query = queries.loc[i,'question1']
    ranked = ranked_docs(query, inverted_tfidf)
    if queries.loc[i,'qid2'] in ranked[:2]:
        queries.loc[i,'top5_pred'] = 1.0
        queries.loc[i,'top2_pred'] = 1.0
    elif queries.loc[i,'qid2'] in ranked[:5]:
        queries.loc[i,'top5_pred'] = 1.0
        queries.loc[i,'top2_pred'] = 0.0
    else:
        queries.loc[i,'top5_pred'] = 0.0
        queries.loc[i,'top2_pred'] = 0.0
    
    
queries.head()

,index,question1,qid2,question2,is_duplicate,top5_pred,top2_pred
0,1,"[control, horni, emot]",536041.0,"[control, horni]",1.0,1.0,0.0
1,3,"[one, mbb]",7256.0,[mbb],1.0,1.0,0.0
2,7,"[best, self, help, book, read, chang, life]",787.0,"[top, self, help, book, read]",1.0,0.0,0.0
3,11,"[hillari, clinton, polici, toward, india, beco...",177376.0,"[hilari, clinton, polici, toward, india, becom...",1.0,0.0,0.0
4,13,"[best, book, studi, tensor, gener, rel, basic]",22333.0,"[best, book, tensor, calculu]",1.0,0.0,0.0

In [132]:
from sklearn.metrics import accuracy_score
accuracy_score(queries['is_duplicate'],queries['top2_pred'])

0.16

In [92]:
type(merged)

collections.Counter

In [103]:
list_dicts = []
for word in query:
    list_dicts.append(Counter(inverted_tfidf[word]))
len(list_dicts)

3

In [106]:
merged_dict = sum(list_dicts, Counter())
max(merged_dict, key=merged_dict.get)

355257.0

In [107]:
df[df['qid2'] == 355257.0]

,index,id,qid1,qid2,question1,question2,is_duplicate,q2_len
322413,322425,242931,310574,355257.0,"[alway, horni]",[horni],1.0,1

In [115]:
ranked = sorted(merged_dict, key=merged_dict.get, reverse=True)
ranked[:5]

[355257.0, 344642.0, 536041.0, 317944.0, 348571.0]